# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore VS Code settings
.vscode/

# Ignore SQLite database
db.sqlite3

# Ignore collected static files
staticfiles/

# Ignore uploaded media
media/

# Ignore log files
*.log